/* src/components/Hero/Hero.css */
.hero {
  width: 80%;
  text-align: center;
  padding: 60px 0px;
  background: rgba(255, 255, 255, 0.2);
  margin-top: 0;
  border-radius: 12px;
  /* margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px; */
  margin: 40px 10%;
  z-index: 10;
}

.hero h1 {
  font-size: 36px;
}

.hero p {
  padding-left: 60px;
  padding-right: 60px;
  font-size: 18px;
  margin-top: 10px;
  text-align: justify;
}
