.topnav {
  width: auto;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0 1% 0;
}

.topnav-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #6a11cb;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.topnav-right {
  display: flex;
  align-items: center;
}

.topnav a {
  font-size: 20px;
  text-decoration: none;
  color:  #252525;
  /* font-weight: bold; */
  transition: color 0.3s;
}

.topnav a:hover {
  color: #6a11cb;
}

.logout-btn {
  font-size: 20px;
  font-weight: bold;
  color: #909090;
  transition: color 0.3s;
}

.logout-btn:hover {
  color: #6a11cb;
}